numpy
scipy
matplotlib
pytest

# needed for readthedocs
ipython
nbsphinx
numpydoc
sphinx-rtd-theme
sphinx_readable_theme
sphinx>=2.3



pip install scikit-image
pip install matplotlib 
pip install scipy 
pip install tqdm 
pip install mpi4py
Pip install tools21cm
pip install cmasher (to plot lightcones)

For mpi4py, in a virtual env : conda install -c conda-forge mpi4py